Exercises I

Run python -m pip install pymysql from your terminal to install pymysql.

Create a notebook or python script named advanced_dataframes to do your work in for these exercises.

1.Run python -m pip install pymysql from your terminal to install the mysql client (any folder is fine)

2.cd into your exercises folder for this module and run echo env.py >> .gitignore

3.Create a function named get_db_url. It should accept a username, hostname, password, and database name and return an url connection string formatted like in the example at the start of this lesson.

4.Use your function to obtain a connection to the employees database.

5.Once you have successfully run a query:

a. Intentionally make a typo in the database url. What kind of error message do you see?

b. Intentionally make an error in your SQL query. What does the error message look like?

6.Read the employees and titles tables into two separate DataFrames.

7.How many rows and columns do you have in each DataFrame? Is that what you expected?

8.Display the summary statistics for each DataFrame.

9.How many unique titles are in the titles DataFrame?

10.What is the oldest date in the to_date column?

11.What is the most recent date in the to_date column?

1.Run python -m pip install pymysql from your terminal to install the mysql client (any folder is fine)

done

2.cd into your exercises folder for this module and run echo env.py >> .gitignore

done

3.Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [2]:
import pandas as pd
import numpy as np
import env

In [3]:
def get_db_url(database):
    database = database
    url = f'mysql+pymysql://{env.username}:{env.password}@{env.host}/{database}'
    return url

4.Use your function to obtain a connection to the employees database.

In [4]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', get_db_url("employees"))

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

5.Once you have successfully run a query:

a. Intentionally make a typo in the database url. What kind of error message do you see?
operationalerror
b. Intentionally make an error in your SQL query. What does the error message look like?
programmingerror

In [5]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', get_db_url("emploees"))

OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'pagel_2185'@'%' to database 'emploees'")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
pd.read_sql('SELECT * FROM employes LIMIT 5 OFFSET 50', get_db_url("employees"))

6.Read the employees and titles tables into two separate DataFrames.

In [ ]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', get_db_url("employees"))

In [ ]:
pd.read_sql('SELECT * FROM titles LIMIT 5 OFFSET 50', get_db_url("employees"))

7.How many rows and columns do you have in each DataFrame? Is that what you expected?

5 rows 6 columns and 5 rows 4 columns
yes that is what i was explecting

8.Display the summary statistics for each DataFrame.

In [ ]:
pd.read_sql('select count(distinct title)from titles', get_db_url("employees"))

9.How many unique titles are in the titles DataFrame?

In [ ]:
pd.read_sql('select count(distinct title)from titles', get_db_url("employees"))

10.What is the oldest date in the to_date column?

In [ ]:
pd.read_sql('select min(to_date)from titles', get_db_url("employees"))

11.What is the most recent date in the to_date column?

In [ ]:
pd.read_sql('''select max(to_date) as most_recent_to_date
from (select to_date
from titles
where to_date <= now())
as no_longer_here''', get_db_url("employees"))

Exercises II

1.Copy the users and roles DataFrames from the examples above.

2.What is the result of using a right join on the DataFrames?

3.What is the result of using an outer join on the DataFrames?

4.What happens if you drop the foreign keys from the DataFrames and try to merge them?

5.Load the mpg dataset from PyDataset.

6.Output and read the documentation for the mpg dataset.

7.How many rows and columns are in the dataset?

8.Check out your column names and perform any cleanup you may want on them.

9.Display the summary statistics for the dataset.

10.How many different manufacturers are there?

11.How many different models are there?

12.Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

13.Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

14.Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

15.Using the mpg dataset, find out which manufacturer has the best miles per gallon on average?

16.Do automatic or manual cars have better miles per gallon?

1.Copy the users and roles DataFrames from the examples above.

In [ ]:
# Create the users DataFrame.

users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

In [ ]:
# Create the roles DataFrame

roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

2.What is the result of using a right join on the DataFrames?

In [ ]:
right_merge = roles.merge(users, on='id', how='right')
right_merge

3.What is the result of using an outer join on the DataFrames?

In [ ]:
outer_merge = users.merge(roles, on='id', how='outer')
outer_merge

4.What happens if you drop the foreign keys from the DataFrames and try to merge them?
doesnt show anything

In [ ]:
foreign_merge = roles.merge(users, on='name', how='inner')
foreign_merge

5.Load the mpg dataset from PyDataset.

In [ ]:
from pydataset import data
mpg_df = data('mpg')
mpg_df

6.Output and read the documentation for the mpg dataset.

In [ ]:
mpg_df

7.How many rows and columns are in the dataset?

234 rows x 11 columns

8.Check out your column names and perform any cleanup you may want on them.

In [ ]:
mpg_df.sort_values("hwy")


9.Display the summary statistics for the dataset.

In [ ]:
mpg_df.info()
mpg_df.describe()


10.How many different manufacturers are there? 15

In [ ]:
mpg_df.groupby('manufacturer').describe()


11.How many different models are there? 38

In [ ]:
mpg_df.groupby('model').describe()


12.Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

In [ ]:
mpg_df['mileage_difference'] = abs(mpg_df.hwy - mpg_df.cty)


13.Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [ ]:
mpg_df['average_mileage'] = round((mpg_df.hwy + mpg_df.cty) / 2, 1)


14.Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [ ]:
mpg_df['is_automatic'] = mpg_df["trans"].str.contains("auto")


15.Using the mpg dataset, find out which manufacturer has the best miles per gallon on average?

In [ ]:
mpg_by_manufacturer = mpg_df.groupby('manufacturer')['average_mileage'].mean()
best_manufacturer = mpg_by_manufacturer.idxmax()
best_manufacturer


16.Do automatic or manual cars have better miles per gallon?

In [ ]:
mpg_by_trans = mpg_df.groupby('is_automatic')['average_mileage'].mean()
mpg_by_trans

Exercises III

1.Use your get_db_url function to help you explore the data from the chipotle database.

In [6]:
pd.read_sql('select * from orders', get_db_url("chipotle"))

,id,order_id,quantity,item_name,choice_description,item_price
0,1,1,1,Chips and Fresh Tomato Salsa,nan,$2.39
1,2,1,1,Izze,[Clementine],$3.39
2,3,1,1,Nantucket Nectar,[Apple],$3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...,...
4617,4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

2.What is the total price for each order?

In [7]:

pd.read_sql('''select order_id, sum(cast(replace(replace(item_price, '$', ''), ',', '') as decimal(10,2))) as total_price
from orders
group by order_id;''', get_db_url("chipotle"))

      order_id  total_price
0            1        11.56
1            2        16.98
2            3        12.67
3            4        21.00
4            5        13.70
...        ...          ...
1829      1830        23.00
1830      1831        12.90
1831      1832        13.20
1832      1833        23.50
1833      1834        28.75

[1834 rows x 2 columns]

 3.What are the most popular 3 items?

In [8]:
pd.read_sql('''select item_name, sum(quantity) as item_count from orders group by item_name order by item_count desc limit 3;''', get_db_url("chipotle"))

             item_name  item_count
0         Chicken Bowl       761.0
1      Chicken Burrito       591.0
2  Chips and Guacamole       506.0

4.Which item has produced the most revenue?

In [9]:
pd.read_sql('''SELECT item_name, SUM(CAST(REPLACE(REPLACE(item_price, '$', ''), ',', '') AS DECIMAL(10,2))) AS total_price
FROM orders
GROUP BY item_name order by total_price desc ;''', get_db_url("chipotle"))

                                item_name  total_price
0                            Chicken Bowl      7342.73
1                         Chicken Burrito      5575.82
2                           Steak Burrito      3851.43
3                              Steak Bowl      2260.19
4                     Chips and Guacamole      2201.04
5                      Chicken Salad Bowl      1228.75
6                      Chicken Soft Tacos      1108.09
7                          Veggie Burrito       934.77
8                        Barbacoa Burrito       894.75
9                             Veggie Bowl       867.99
10                          Carnitas Bowl       736.71
11                          Barbacoa Bowl       672.36
12                       Carnitas Burrito       597.83
13                       Steak Soft Tacos       536.05
14                                  Chips       494.34
15                   Chicken Crispy Tacos       472.13
16                      Canned Soft Drink       438.75
17                    Carnitas Soft Tacos       375.94
18           Chips and Fresh Tomato Salsa       361.36
19                     Steak Crispy Tacos       357.34
20                      6 Pack Soft Drink       356.95
21                       Steak Salad Bowl       343.59
22                          Bottled Water       302.56
23                    Barbacoa Soft Tacos       250.46
24                          Side of Chips       185.90
25                      Veggie Salad Bowl       182.50
26    Chips and Tomatillo Red Chili Salsa       147.50
27                            Canned Soda       137.34
28  Chips and Tomatillo Green Chili Salsa       132.75
29                  Barbacoa Crispy Tacos       120.21
30                    Barbacoa Salad Bowl       106.40
31                       Nantucket Nectar        98.31
32                          Chicken Salad        81.09
33  Chips and Tomatillo-Green Chili Salsa        78.87
34                  Carnitas Crispy Tacos        77.96
35                      Veggie Soft Tacos        73.96
36     Chips and Roasted Chili Corn Salsa        67.85
37                                   Izze        67.80
38                    Carnitas Salad Bowl        66.34
39    Chips and Tomatillo-Red Chili Salsa        59.75
40                           Veggie Salad        50.94
41                                Burrito        44.40
42     Chips and Roasted Chili-Corn Salsa        43.02
43                            Steak Salad        35.66
44                                   Bowl        29.60
45                           Crispy Tacos        14.80
46                                  Salad        14.80
47                         Carnitas Salad         8.99
48                    Veggie Crispy Tacos         8.49
49      Chips and Mild Fresh Tomato Salsa         3.00

5.Join the employees and titles DataFrames together.

In [ ]:
employees = pd.read_sql('select * from employees', get_db_url("employees"))
titles = pd.read_sql('select * from titles', get_db_url("employees"))

merged_df = pd.merge(employees, titles, on='emp_no', how='inner')
merged_df

6.For each title, find the hire date of the employee that was hired most recently with that title.

In [ ]:
merged_df.groupby('title')['hire_date'].max()

7.Write the code necessary to create a cross tabulation of the number of titles by department. (Hint: this will involve a combination of SQL code to pull the necessary data and python/pandas code to perform the manipulations.)

In [ ]:

# establish a connection to the database
conn = get_db_url("employees")

# define the SQL query
sql = """
SELECT d.dept_name, t.title, COUNT(*) as count
FROM dept_emp de
JOIN departments d ON de.dept_no = d.dept_no
JOIN titles t ON de.emp_no = t.emp_no
GROUP BY d.dept_name, t.title;
"""

# execute the query and load the results into a DataFrame
df = pd.read_sql(sql, conn)

# create the cross-tabulation using the pivot_table function
pivot_table = pd.pivot_table(df, values='count', index='dept_name', columns='title', fill_value=0)

# print the resulting cross-tabulation
print(pivot_table)